#conteneur{
    width: 80%;
    background: #40A497;
    margin: 0 auto;
    color: #fff;
    font-size: 1.2vw
}

header{
    min-height: 100px;
    background: #;
    width: 1000px;
    height: 150px;
}
.a, .c, .e, .g{
    width: 25%;
    float: left;
    min-height: 17.5vh;
}
.b, .f{
    width: 50%;
    float: left;
    min-height: 200px
}

.d{
    width: 100%;
    float: left;
    min-height: 200px;
}

.a{
    background: blue;
}
.c{
    background: green;
}
.b{
    background: pink;
}
.e{
    background: brown;
}
.g{
    background: grey
}
.
@media screen and(max-width:1050px) {
    #conteneur{width: 750px;}
.a, .e{width: 355px;}
.b, .f{width: 355px;}
section, footer, nav, header, .c, .d, .g, .conteneur{width:710px}
}

@media screen and(max-width: 780px) {
    #conteneur{width: 550px;}
.a, .e{width: 255px;}
.b, .f{width: 255px;}
section, footer, nav, header, .c, .d, .g, .conteneur{width:510px}
}

@media screen and(max-width: 580px) {
    #conteneur{width: 100%;}
.a, .b, .c, .d, .e, .f, .g{width: 100%; height:125px;}
section{margin:0;}
}
