nav a{
    float: left;
    height: 40px;
    line-height: 38px;
    color: #fff;
    font-family: sans-serif;
    background: #000;
    padding: 0 10px;
    transition: 1s;
    text-decoration: none;
}
nav a:hover{
    background: #f43c80;
    padding: 0 20px;
}
