@font-face {
    font-family: 'alex_brushregular';
    src: url('police/alexbrush-regular-webfont.woff2') format('woff2'),
         url('police/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'alex_brushregular';
    font-size: 50px;
}
